@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    direction: rtl;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }
    ul {
        list-style-type: none;
    }
    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
    }
}
body {
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #f8f9fb;
    .top-nav {
        width: calc(min(100vw, 1720px));
        height: 54px;
        background-color: white;
        display: grid;
        grid-template-columns: 46px 171px 1fr 143px;
        grid-template-rows: 54px;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        .main-menu-toggle {
            width: 100%;
        }
        .logo-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .wiki-logo {
                height: 100%;
            }
            .wiki-logo-txt {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                .wiki-logo-txt-word {
                }
                .wiki-logo-txt-description {
                }
            }
        }
        .search-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .search-icon {
                height: 30px;
                border: 1px solid gray;
                border-left: none;
            }
            .search-bar {
                width: calc(min(400px, 100%));
                height: 30px;
                border: 1px solid gray;
                border-right: none;
                border-left: none;
            }
            .search-btn {
                height: 30px;
                width: 40px;
                border: 1px solid gray;
                border-right: none;
            }
        }
        .login-container {
        }
    }
    .page-container {
        width: calc(min(100vw, 1720px));
        display: grid;
        grid-template-areas: "side-nav main-container";
        justify-content: flex-start;
        align-items: flex-start;
        background-color: white;
        a {
            color: blue;
            &:hover {
                text-decoration: 1px solid underline blue;
            }
        }
        .main-container {
            grid-area: main-container;
            background-color: orange;
        }
    }
}
