@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  direction: rtl;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

* a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* ul {
  list-style-type: none;
}

* button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

body {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f9fb;
}

body .top-nav {
  padding-top: 10px;
  width: calc(min(100vw, 1720px));
  height: 80px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 46px 171px 1fr 143px;
      grid-template-columns: 46px 171px 1fr 143px;
  -ms-grid-rows: 54px;
      grid-template-rows: 54px;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .top-nav .main-menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: ce;
      -ms-flex-align: ce;
          align-items: ce;
  height: 30px;
}

body .top-nav .logo-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

body .top-nav .logo-container .wiki-logo {
  height: 100%;
}

body .top-nav .logo-container .wiki-logo-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .top-nav .search-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .top-nav .search-container .search-icon {
  height: 30px;
  border: 1px solid #aaaaaa;
  border-left: none;
}

body .top-nav .search-container .search-bar {
  width: calc(min(400px, 100%));
  height: 30px;
  border: 1px solid #aaaaaa;
  border-right: none;
  border-left: none;
}

body .top-nav .search-container .search-btn {
  padding-left: 5px;
  height: 30px;
  width: 40px;
  border: 1px solid #aaaaaa;
  border-right: none;
}

body .top-nav .login-container {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

body .top-nav .login-container .more-options-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
}

body .top-nav .login-container .more-options-btn .small-dot {
  background-color: black;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

body .page-container {
  width: calc(min(100vw, 1720px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

body .page-container a {
  color: blue;
}

body .page-container a:hover {
  -webkit-text-decoration: 1px solid underline blue;
          text-decoration: 1px solid underline blue;
}

body .page-container .main-container {
  width: calc(min(1024px, 100%));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

body .page-container .main-container .editing-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #bed2dd;
}

body .page-container .main-container .editing-nav .editing-link-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #bed2dd;
  border-top: none;
  border-bottom: none;
}

body .page-container .main-container .editing-nav .editing-link-group .editing-link {
  font-size: 0.8em;
  padding: 5px 5px;
  border-left: 1px solid #bed2dd;
  color: #2d415e;
  background: #e7f2fc;
  background: -webkit-gradient(linear, left bottom, left top, from(#e7f2fc), to(white));
  background: linear-gradient(0deg, #e7f2fc 0%, white 100%);
}

body .page-container .main-container .editing-nav .editing-link-group .editing-link:last-of-type {
  border: none;
}

body .page-container .main-container header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #aaaaaa;
}

body .page-container .main-container header .lang-select-label {
  color: #4fa7ff;
  padding: 10px 15px;
}

body .page-container .main-container header .lang-select-label:hover {
  color: #0b4ffc;
  background-color: #c1e0ff;
  border-radius: 2px;
  cursor: pointer;
}

body .page-container .main-container header .lang-select {
  display: none;
}

body .page-container .main-container main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */