@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// Colors:

$body-bg-color: #f8f9fb;
$bg-primary-color: white;
$border-primary-color: #aaaaaa;
$link-color: blue;
$editing-link-color: #2d415e;
$editing-nav-border-color: #bed2dd;
$lang-select-bg-color: #c1e0ff;
$lang-select-color: #4fa7ff;
$lang-select-color-hover: #0b4ffc;

* {
    direction: rtl;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }
    ul {
        list-style-type: none;
    }
    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
    }
}
body {
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: $body-bg-color;
    .top-nav {
        padding: 10px;
        width: calc(min(100vw, 1720px));
        height: 80px;
        background-color: $bg-primary-color;
        display: grid;
        grid-template-columns: 46px 171px 1fr 143px;
        grid-template-rows: 54px;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        .main-menu-toggle {
            display: flex;
            justify-content: center;
            align-items: ce;
            height: 30px;
        }
        .logo-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .wiki-logo {
                height: 100%;
            }
            .wiki-logo-txt {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                .wiki-logo-txt-word {
                }
                .wiki-logo-txt-description {
                }
            }
        }
        .search-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .search-icon {
                height: 30px;
                border: 1px solid $border-primary-color;
                border-left: none;
            }
            .search-bar {
                width: calc(min(400px, 100%));
                height: 30px;
                border: 1px solid $border-primary-color;
                border-right: none;
                border-left: none;
            }
            .search-btn {
                padding-left: 5px;
                height: 30px;
                width: 40px;
                border: 1px solid $border-primary-color;
                border-right: none;
            }
        }
        .login-container {
            font-weight: bold;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .create-account-btn {
                font-size: 0.9em;
                padding: 7px;
                &:hover {
                    background-color: $body-bg-color;
                }
            }
            .more-options-btn {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 3px;
                padding: 20px 12px;
                &:hover {
                    background-color: $body-bg-color;
                }
                .small-dot {
                    background-color: black;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                }
            }
        }
    }
    .page-container {
        width: calc(min(100vw, 1720px));
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: $bg-primary-color;
        a {
            color: $link-color;
            &:hover {
                text-decoration: 1px solid underline $link-color;
            }
        }
        .main-container {
            width: calc(min(1024px, 100%));
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            .editing-nav {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid $editing-nav-border-color;
                .editing-link-group {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid $editing-nav-border-color;
                    border-top: none;
                    border-bottom: none;
                    .editing-link {
                        font-size: 0.8em;
                        padding: 5px 5px;
                        border-left: 1px solid $editing-nav-border-color;
                        color: $editing-link-color;
                        background: rgb(231, 242, 252);
                        background: linear-gradient(
                            0deg,
                            rgba(231, 242, 252, 1) 0%,
                            rgba(255, 255, 255, 1) 100%
                        );
                        &:last-of-type {
                            border: none;
                        }
                    }
                }
            }
            header {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid $border-primary-color;
                font-size: 0.9em;
                .lang-select-label {
                    color: $lang-select-color;
                    padding: 10px 15px;
                    &:hover {
                        color: $lang-select-color-hover;
                        background-color: $lang-select-bg-color;
                        border-radius: 2px;
                        cursor: pointer;
                    }
                }
                .lang-select {
                    display: none;
                }
            }
            main {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                .text-content {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 20px;
                    .disambiguation {
                        color: $editing-link-color;
                    }
                    .gist {
                    }
                }
                .imgs-column {
                }
            }
        }
    }
}
